[Unit]
Description=Alumni Book API container
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
User=admin
Group=admin
Environment=XDG_RUNTIME_DIR=/run/user/1001
EnvironmentFile=/opt/alumni-book/app/deploy/.release.env
WorkingDirectory=/opt/alumni-book/app
ExecStart=/usr/bin/podman-compose up -d api
ExecStop=/usr/bin/podman-compose stop api
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
